<div id="productListing">
    <div class="container-xl">
        <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                    <h2>Shop <b>Bridge</b></h2>
                    </div>
                    <div class="col-sm-6">
                    <span class="btn btn-success" id="addProduct"><i class="material-icons"></i> <span>Add New Product</span></span>					
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover" id="allProducts">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>