<div class="container">
    <form id="productForm">
        <div class="modal-header">	
            <div class="d-flex align-items-center">					
                <i id="cancelEdit" class="fa fa-chevron-circle-left mr-2" aria-hidden="true"></i><h4 class="modal-title"></h4>
            </div>
        </div>
        <div class="modal-body">					
            <div class="form-group">
                <label>Name *</label>
                <input type="text" class="form-control" id="name" required="">
            </div>
            <div class="form-group">
                <label>Category *</label>
                <input type="text" class="form-control" id="cat" required="">
            </div>
            <div class="form-group">
                <label>Description *</label>
                <textarea class="form-control" id="desc" required=""></textarea>
            </div>
            <div class="form-group">
                <label>Price *</label>
                <input type="number" step="any" id="price" class="form-control" required="">
            </div>					
        </div>
        <div class="modal-footer">
            <!-- <input type="button" class="btn btn-default"  value="Cancel"> -->
            <input type="submit" id="saveItem" class="btn btn-info" value="Save">
        </div>
    </form>
</div>